body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-image: url("/img/sobery.jpg");
  background-repeat: repeat-x;
  background-size: 50%;
}

h2{
    color: rgb(134, 238, 14);
}
