body {
  font-family: 'Courier New', monospace;
  background-image: url('/img/Foto-Principal.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  max-height: 100vh;
  overflow: hidden;
}
/* Para pantallas más pequeñas */
@media (max-width: 768px) {
  body {
    background-size: cover; /* Cambia a 'contain' para asegurar que toda la imagen se vea */
    background-position: top center; /* Puedes ajustar la posición en pantallas móviles */
    background-repeat: repeat;
  }
}

/* Para pantallas muy grandes */
@media (min-width: 1200px) {
  body {
    background-size: cover; /* Mantiene el 'cover' para pantallas grandes */
    background-repeat: no repeat;
  }
}

span {
  font-size: 5em;
  margin: 0px;
  padding: 0px;
  letter-spacing: -10px;
  float: left;
  font-weight: normal;
}

button {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background-image: url('/img/Booter-bandcamp.jpg');
  color: rgb(0, 0, 0);
  padding: 1em 2em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-image: url('/img/Cascadas-WEb.png');
  background-position: center;
}

#maincontent {
  display: grid;
  grid-template-rows: repeat(1, 20fr); /* 6 filas iguales */
  gap: 10px; /* Espacio entre las filas */
}
