body {
    padding: 20px;
    font-family: 'Courier New', monospace;
    text-align: center;
    background-image: url("/img/aguamontaña.jpg");
    background-repeat:initial;
    background-size: cover;
}
 
  
h1 {
    font-size: 5em;
    margin: 0px;
    padding: 0px;
    letter-spacing: -10px;
    float: left;
    font-weight: normal;
  
}

span {
    position: relative;
    text-align: center;
    font-size: 1.5em;
    margin:0;
    padding: auto;
    font-weight: bold;
}

#butdiv_centered {
    position: fixed;
    margin: 0 ;
    padding: 0;
}


.but {
    /*position:relative;*/
    background: rgb(218, 255, 9);
    color: rgb(108, 0, 167);
    padding: 1em 1em;
    text-align: center;

}


.but:hover {
    background: rgb(33, 199, 0);
}

}

#maincontent {
    display: grid;
    grid-template-rows: repeat(1, 20fr); /* 6 filas iguales */
    gap: 10px; /* Espacio entre las filas */
}