body {
  font-family: 'Courier New', monospace;
  font-size: 1,5em;
  line-height: 1.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 130vmin;
  margin: 4vmin auto auto auto;
  text-align: justify;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
 .mispalabras {
    font-family: 'Courier New', monospace;
    font-size: 1em;

    line-height: 1em;
    margin: 30px 0;
    padding: 9px; 
    text-align: left;
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 0.1em;
    padding: auto;
   
   }

h2 {
  margin: 60px 0;
  padding: 10px;
  font-size: 1.5em;
  line-height: 0.8em;
  margin-top: 2em;
}

nav {
  font-size: 0.8em;
  line-height: 1.4em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 200vmin;
  margin: 2em;
}

/* Make Lists of type Flex, with items aligning along the x-axis */

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* Turn list elements into big, bold buttons with rounded border */

.back,
a li,
.btn, .colorify {
 font-family: 'Courier New', monospace;
  color: rgb(186, 255, 10);
  background-color: #000000;
  font-weight: bold;
  text-align: center;
  padding: 1vmin 2vmin;
  font-size: 0,8em;
  margin: 2vmin;
  
}



/* The back button */

.back {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 0.8em;
  padding: 0.9vmin;
}


.btn:hover,
.back:hover,
li:hover {
  background-image: url("/img/homehome.jpg");
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

/* Remove underline from links and make them black */

/*  Links in the footer use the .subtitle class. Make them black  */
a,
.subtitle {
  text-decoration: none;
  color: black;
}

.subtitle:hover,
.subtitle:focus {
  text-decoration: underline;
  cursor: pointer;
}

/* Make open-in-new-tag links different */

a.out {
  font-style: italic;
}

/* Make Images in footer somewhat separated */

footer div {
  padding: 1.5vmin;
  font: 'Courier New', monospace;
}



/* The Main Post Sections */

main,
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200vmin;
  margin: auto;
}

section {
  padding: 5vmin;
}

article {
  max-width: 560px;
  margin: 0 auto;
  padding: 1vmin;
}

/* Make items align in a grid-like view */

main {
  flex-direction:row;
  flex-wrap: wrap;
}

/* The Language Button */

.nicebutton {
  border-left: 1px;
  border-radius: 1vmin;
  padding: 0 2vmin;
  font-weight: bold;
  align-self: right;
}

.nicebutton:hover {
  cursor: pointer;
}

/* The separation character for links in navigation tabs */

.sepchar {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 2px;
}


/* The main title */

.title {
  padding: 10vmin 1vmin 1vmin 1vmin;
  border-radius: 5vmin;
  margin: 0;
}

/* This contains every (div-wrapped) iframe + title element */

article {
  max-width: 300px;
  padding: 6vmin;
}

/* This is the main bio section with a subarticle  */

section article {
  background-color: #eee;
  border-radius: 5vmin;
  padding: 3vmin;
  max-width: 155vmin;
}

h3 {
  color: #111;
  font-size: 0.9em;
  line-height: 1em;
}

iframe {
  border: 1px outset darkgrey;
}

.iframeWrapper {
  background-image: url("/img/loader.gif");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position:center;
}

.bigger {
    font-size:1.8em;
    text-overflow: ellipsis;
  }

.smaller {
  font-size:1em;
  text-align: center;
}
.sello {
    text-align: center;
  }
