body {
	font-family:helvetica-light;
  text-align: center;
}

header {
  display:block;
  position:relative;
}

footer {
  margin:50px 0;
  position:relative;
  float:none;
  display:block;
  font-size: small;
}

ul, li, span, a{
	list-style:none;
	margin:none;
	padding:none;
	text-decoration:none;
}

ul {
	padding-inline-start: 0px;
}

nav {
  display: block;
  text-align:center;
  margin:none;
  padding:none;
}
article {
  max-width:560px;
   margin:0 auto;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  /*padding-top:10%;*/
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   max-width:inherit;
}

article iframe {
  max-width:300px;
}

h1 {
    margin: 0;
    font-size:1.5em;
    background-color:rgba(244, 254, 146, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    letter-spacing:10px;
    font-weight:normal;
    margin-left:10px;
}

h2 {
    margin: 0;
    font-size:1em;
    position: relative;
    /* top: 70%; */
	letter-spacing:10px;
    background-color:rgba(255,255,255,0.5);
    margin-top:25px;
	margin-left:10px;
}

h3 {
  background:black;
  color:white;
  padding:1vmin;
}

h4 {
  margin: 0;
  font-size:1em;
  position: relative;
  top: 70%;
  left: 1%;
  text-align:center;
  font-weight:bold;
  letter-spacing:12px;
  background-color:rgba(255,255,255,0.5);
  margin-left:12px;

}
.colored {
	/* background-color:rgba(242, 196, 213, 1); */
  text-align:center;
	font-style:italic;
  text-transform:uppercase;
	display:block;
  letter-spacing:25px;
  padding: 20px 0;
  margin-left:25px;
  font-size:0.9em;
}

.title {
    height: 10em;
    position: relative;
}

.maintitle {
    background-image:url("../img/blcirculoweb1.png");
    background-size: 260px;
    background-repeat:no-repeat;
    background-position:center top;
    color:rgba(255,255,255,0.0);
    height: 260px;
    position: relative;
}

.image-container {
  float:left;
  max-width:100px;
}
.text-container {
  /*float:left;*/
  padding-left:100px;
  font-size:small;
  text-align:justify;
}

.image-container img {
  width:100px;
}
footer div {
  margin:5px 0;
  display: block;
}
#foot div {
  overflow-x:auto;
}
#hasthags, #links, #emails{
  display:block;
  float:none;
}
#links div {
  display:inline;
  padding: 0 4px;
}
#links img, div.back {
  opacity:1;
}
#links img:hover, div.back:hover {
  opacity:1;
}
div.back {
  position:fixed;
  top:10px;
  left:10px;
  /*display:inline;*/
  /*float:left;*/
  color:white;
  background:black;
  font-weight:bold;
  padding:10px;
  font-size:1em;
  border-radius:3px;
}
div.back:hover {
  color:black;
  background:rgba(244, 254, 146, 0.5);
  cursor:pointer;
}
.swrap-container {
  font-size:1em;
  margin-top:10px;
}
.swrap-title {
  display:block;
  font-weight: bold;
  letter-spacing: 9px;
  margin-left:9px;
  text-align:center;
}

.bio {
  font-size:calc(12px + 1vmin);
  max-width:100vmin;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  text-align:justify;
  margin:auto;
}
.spanish {
  display:flex;
}
.english {
  display: none;
}
.bio p {
  padding:1vmin;
  margin:auto;
}
main { 
  display:flex;
  flex-direction: column;
  align-items:stretch;
}
main div {
  margin:auto;
}
#lang-button { 
  max-width:10vmin;
  background:black;
  color:white;
  border:1px outset white;
  border-radius:1vmin;
  padding:2vmin;
  font-weight:bold;
  font-size: calc(10px + 1vmin);
  margin:auto;
}
#lang-button:hover, #lang-button:focus, #lang-button:focus-within { 
  background:white;
  color:black;
  border:1px inset black;
  cursor:pointer;
}