header {
    display: flex;
    flex-direction: column;
    max-width: 140vmin;

 }

body {
    
    background-color: black;
    line-height: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    text-align: justify;

    
    }


 #intro {
    width:fit-content;  
  }



.bio {
  font-family:'calibri', sans-serif;
  font-size:0.9em;
  line-height: normal;
  background-color: #000000;
  color:#fff;
  width:fit-content;
  margin: auto;
  color:#fff;


}

img {
  max-width: 50%
    
}

.image {
  flex-basis: 40%;
  flex-shrink: 0;
  text-align: center;
}

h2 {
  color: aliceblue;
}

/* button {
    color: rgb(186, 255, 10);
    background: rgb(0, 0, 0);
    text-align: center;
    padding:auto;
    font-size: 1em;
    margin: 1vmin;
  } */

 
  este es el 

  /* nav {
    font-size: 1.5em;
    line-height: 1.4em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: auto;
} */
  /* ul {
    position: top;
    top: 100%;
    width: 200%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  } */
  
  a   {
    background-color: #000000;
    text-align: center;
    padding: vmin vmin;
    margin: vmin;
}

  .back, li, .btn, .colorify {
    font-size: 1.1em;
    font-family: 'Courier New', monospace;
    color: rgb(186, 255, 10);
    background-color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 0%;
    
   
}



