body {
  background: black;
}
.bio {
  font-family:'Lucida sans', 'Lucida Sans Regular' , sans-serif;
  font-size:large;
  line-height: normal;
  background-color: #000000;
  color:#fff;
  width:fit-content;
  margin: auto;

}

img {
  max-width: 70%
    
}

.image {
  flex-basis: 40%;
  flex-shrink: 0;
  text-align: center;
}

h2 {
  margin-bottom: 0;
}
