
.bio {
  font-family:'Times New Roman', Times, serif;
  line-height: normal;
  background-color: #FFF;
  width:fit-content;
  margin: auto;

}

h2 {
  margin-bottom: 0;
}

img {
  max-width: 80%
}

.image {
  flex-basis: 60%;
  flex-shrink: 0;
}
