#lista_de_eventos {
   background-color: rgb(0, 0, 0);
   font-size: 0.8em;
   color: rgb(186, 255, 10);
   line-height:1em;
   margin-bottom: 10em;
   text-align: left;
   list-style-position: inside;
   display: block;
   margin: 2em;
   margin-bottom: 7em;
}

.pancarta { 
  padding: 1vmin;
  font-weight: bold;
}

#more-button {
  padding: 1vmin;
  font-weight: bold;
}

li.lista_de_eventos-item:hover {
  text-decoration: none;
  cursor: default;
 }

div.hidden {
    display: none;
}

article {
    padding: 0;
    margin: 0;
    max-width:110vmin;
}

h3 {
    text-align: center;  
}
