#lista_de_eventos {
  
   font-size: 1em;
   color: rgb(255, 255, 255);
   line-height:1.1em;
   text-align: right;
   list-style-position: inside;
  margin-left: auto;    /* empuja el bloque hacia la derecha */
  margin-right: 0em;
  max-width: 40%;
   background: rgba(0, 0, 0, 0.4); /* opcional: fondo translúcido para legibilidad */
  padding: 0.5em; /* opcional */
 
  
}

.pancarta { 
  padding: 1vmin;

  font-weight: bold;
}

#more-button {
  padding: 1vmin;
  font-weight: bold;
}

li.lista_de_eventos-item:hover {
  text-decoration: none;
  cursor: default;
 }

div.hidden {
    display: none;
}



h3 {
    text-align: center;  
}
