#lista_de_eventos {
  font-size: 1em;
  color: rgb(255, 255, 255);
  line-height: 1.1em;
  text-align: left;
  list-style-position: inside;
  padding: 0.75em; /* opcional */
}

#lista_de_eventos > li:not(:last-of-type) {
  margin-bottom: 0.50em;

}


.pancarta, .more-button{
  font-weight: bold;
  width: 100%;
  text-align: center;
  
}

li.lista_de_eventos-item:hover {
  text-decoration: none;
  cursor: default;
}

div.hidden {
  display: none;
}

h3 {
  text-align: center;
}

article {
  margin-top: 90px;
  max-width: 500px;
}

/* --- MOBILE / CELULARES --- */
@media (max-width: 868px) {

  article{
     margin-top: 90px;
     max-width: 300px;
     padding-bottom: 10em;
  
  }

  #lista_de_eventos {
  font-size: 1em;
  color: rgb(255, 255, 255);
  line-height: 0.9em;
  text-align: center;
  list-style-position: inside;
  padding: 0.75em; /* opcional */
}

 
}