/*  Adjust background image and positioning */

body {
  background-image: url("/img/home4.jpg");
  background-repeat: no-repeat;
  background-position:top;
  background-size:cover;
}

/* Adjust title coloring */

.title {
  color:palevioletred;
}
