/*  Adjust background image and positioning */

body {
  background-image: url("/img/Berenice\ x\ Mery\ 1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  image-rendering: optimizeQuality;
}


/* Para pantallas más pequeñas */
@media (max-width: 768px) {
    body {
      background-size: cover; /* Cambia a 'contain' para asegurar que toda la imagen se vea */
      background-position: top center; /* Puedes ajustar la posición en pantallas móviles */
    }
  }
  
  /* Para pantallas muy grandes */
  @media (min-width: 1200px) {
    body {
      background-size: cover; /* Mantiene el 'cover' para pantallas grandes */
    }

}

/* Adjust title coloring */


#intro {
    padding: 1em;  
    max-width: 70%;
  }


.mispalabras {
    font-family: 'Courier New', monospace;
    font-size: 0.9em;
    line-height: 1em;
    margin: 30px 0;
    padding: 9px; 
    text-align: left, justify;
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
   
   
   }

   
a, h2, .sello, 
.subtitle {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
a li,
.btn, .colorify {
  color: rgb(186, 255, 10);
  background: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin: 0vmin;
}

section{
    padding: 1vmin;   
    margin-top: 3vmin;
    max-width: 90vmin;
}


  /* Para pantallas muy grandes */
  @media (min-width: 1000px) {
#menu-eventos{
     display: flex;
     flex-direction: row;
     max-width: 100vmin;
}

article {
    max-width: 300px;
    padding: 4vmin;
    padding: 0.9vmin;

}

nav {
    
    font-size: 0.7em;
    line-height: 1.2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 200vmin;
    margin: 2em;
    margin-bottom: 5em;
    left: 10px;
   
}

          
          

   

/* Para pantallas más pequeñas */
@media (max-width: 768px) {
#menu-eventos{
     display: flex;
     flex-direction: column;
       
    }
    nav {
    
        font-size: 0.7em;
        line-height: 1.2em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        max-width: 200vmin;
         margin: 0.5em;
         padding: 1em;  
              
              }

}






  