/*  Adjust background image and positioning */
header {
  z-index: 1000; /* para que quede encima del contenido */
  display: flex;
  flex-direction: column;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  margin: auto;
  
}

section{
  align-items: center;
}

.mispalabras{
  color: rgb(153, 235, 60);
  max-width: 60%;
  min-width: 70%;
  text-align: center;
}

main{
  min-width: 100%;
  min-height: 100%;
}
/* Adjust title coloring */

/* .to_overwrite_global_main_style {
  min-width: 100%;

} */

#background_image {
  position: fixed;
  top: 0;
  /* object-position: 0% 40%; */
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.7);
}


a,
h2,
.sello,
.subtitle {
  color: rgb(255, 255, 255);
}

.sello{
opacity: 30%;
}

small {
  color: rgb(186, 255, 10);
  position: absolute;
  bottom: 4vmin;
  right: 1.75vmin;
}

a li,
.btn,
.colorify {
  color: rgb(186, 255, 10);
  background: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin: 0vmin;
}

/* --- MOBILE / CELULARES --- */
@media (max-width: 868px) {

#background_image {
  position: fixed;
  top: 40px;
  object-position: 75% 30%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8);
}
}