/*  Adjust background image and positioning */
header {
  z-index: 1000; /* para que quede encima del contenido */
  display: flex;
  flex-direction:column; 
}


body {
  background-image: url("/img/berenie\ llorens\ x\ orange\ ear.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  display: flex;
  flex-direction: column;
    max-width: 100%;
    margin: auto;

}


/* Para pantallas más pequeñas */
@media (max-width: 768px) {
    body {
      background-size: cover; /* Cambia a 'contain' para asegurar que toda la imagen se vea */
      background-position: top center; /* Puedes ajustar la posición en pantallas móviles */
    }
    
  }
  
  /* Para pantallas muy grandes
  @media (min-width: 1200px) {
    body {
      background-size: cover; /* Mantiene el 'cover' para pantallas grandes */
    } */

}

/* Adjust title coloring */


#intro {
    padding: 1em;  
    max-width: 100%;
  
  }


.mispalabras {
    font-family: 'Courier New', monospace;
    font-size: 0.9em;
    line-height: 1em;
    margin: 30px 0;
    padding: 9px; 
    text-align: left, justify;
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
   
   
   }

   
a, h2, .sello, 
.subtitle {
  color: rgb(255, 255, 255);
}



a li,
.btn, .colorify {
  color: rgb(186, 255, 10);
  background: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  margin: 0vmin;
}

article {
    max-width: 600px;
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 50px;
    padding-left:40px;
   
}









  