/*  Adjust background image and positioning */

header {
  display: flex;
  flex-direction: column;
}

body {
  background-image: url('/img/Foto-exploration.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  margin: 1em;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

/* Para pantallas más pequeñas */
@media (max-width: 968px) {
  body {
    background-size: cover; /* Cambia a 'contain' para asegurar que toda la imagen se vea */
    background-position: center; /* Puedes ajustar la posición en pantallas móviles */
  }
}

.mispalabras {
  font-family: 'Courier New', monospace;
  background-color: white;
  font-weight: normal; /* Cambié "regular" a "normal" */
  color: rgb(0, 0, 0);
  font-size: 0.9em;
  line-height: 1em;
  margin-top: 0.1em;
  margin-right: 1em;
  margin-left: 1em;
  padding: 20px;
}

/* Adjust title coloring */

h2 {
  background-color: white;
}

