
/*  Adjust background image and positioning */

header {
    display: flex;
    flex-direction: column;
    max-width: 140vmin;
  }


body {  
  background-image: url('/img/Foto-exploration-3-.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: contain;
  margin: 1em;
  margin-top: 3em;
  margin-left: 2em;
  margin-right: 2em;
}

/* Para pantallas más pequeñas */
@media (max-width: 968px) {
  body {
    background-size: cover; /* Cambia a 'contain' para asegurar que toda la imagen se vea */
    background-position: center; /* Puedes ajustar la posición en pantallas móviles */
  }
}

/* Adjust title coloring */


.mispalabras {
    font-family: 'Courier New', monospace;
    font-size: 1em;
    background-color: white;
    line-height: 1em;
    margin: 30px 0;
    padding: 9px; 
    text-align: left;
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 0.1em;
   

   }

   p {
    background-color: white;
   }


 a   {
    background-color: #000000;
    text-align: center;
    padding: 1vmin 1vmin;
    margin: 1vmin;
}

li, .colorify {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: rgb(186, 255, 10);
    background-color: #000000;  
    text-align: center;
    padding: 0;
}



