/*  Adjust background image and positioning */

body {
  background-image: url("/img/exploration.jpg");
  background-repeat:no-repeat;
  background-position:top;
  background-size:auto;
}

.mispalabras {
    font-family: 'Courier New', monospace;
    font-weight: regular;
    font-size: 1em;
    line-height: 1em;
    margin: 30px 0;
    padding: 9px; 
     text-align: center;
  margin-right: 4em;
  margin-left: 4em;
   margin-top: 0.1em;
   

   }

/* Adjust title coloring */

.title {
  color:palevioletred;
}

/* Estilo del menú fijo */
#fixed-menu {
    font-family: 'Lucida Sans', 'Lucida Sans italic';
    position: fixed; /* Hace que el menú esté fijo en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
    padding: 10px 0;
}

#fixed-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center; /* Alinea el menú al centro */
}

#fixed-menu ul li {
    margin: 0 15px;
}

#fixed-menu ul li a {
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-transform: uppercase;
}

#fixed-menu ul li a:hover {
    color: #f0f0f0; /* Color al pasar el cursor */
}

/* Añade padding al cuerpo para que no se superponga el contenido con el menú */
body {
    padding-top: 60px; /* Ajusta según el tamaño del menú */
}

