.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 100vmin;
  text-align: center;
} 
.container a {
  text-decoration: underline;
  color: black;
}
.container p {
  text-align: center;
}
.container img {
 /* width:100vmin;  */
 max-height:40vmin;
}

