.container {
  
  margin: 0 auto;
  max-width: 100vmin;
  
} 
.container a {
  text-decoration: underline;
  color: rgb(255, 0, 0);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 2em;



}
.container p {
  text-align: center;
}
.container img {
 /* width:100vmin;  */
 max-height:40vmin;
}

