header {
  z-index: 1000; /* para que quede encima del contenido */
  display: flex;
  flex-direction: column;
}

 

body {

    background-color: rgb(217, 217, 215);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-height: 100%;
    margin: auto;
    text-align: justify;
    
    }

    main{
  min-width: 100%;
  min-height: 100%;
}

#background_image {
 
  position: fixed;
  top: 0%;
  object-position: 0% 30%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.5);
  filter: opacity(0.5);
  opacity: 4;
  max-width: 100%;  
  display: flex;
}


/* Ajuste de la imagen de fondo y el posicionamiento */


#intro {
     max-width: 80%;
  }

  h2 {
    color: rgb(209, 207, 207);
}

h1{

    color: rgb(0, 0, 0); 
    text-align: left;
    background: rgba(255, 255, 255, 0.2); /* Blanco semitransparente */
}

.sello {
    
    color: rgb(173, 169, 169);

}

.mispalabras {
    font-family: 'Courier New', monospace;
    background: rgba(255, 255, 255, 0.2); /* Blanco semitransparente */
    backdrop-filter: blur(10px); /* Desenfoque */
    line-height: 1em;
    padding: 3em;
    text-align: justify;
    min-width: 70%;
    margin: 1%;
   }


article {
 
  width: fit-content;
  box-sizing: border-box;
  text-align: right; /* Cambiado a 'right' */
  margin-right: 1em;
  margin-left: 1em;
  max-width: 90vmin;
  min-width: 70vmin;
  justify-content: left;
}

.p{
    
  }


.b{
    text-align: right; 
    padding right: 3em;

}



  .text {
    font-family: 'calibri', sans-serif;
    background: rgba(255, 255, 255, 0.2); /* Blanco semitransparente */
    backdrop-filter: blur(10px); /* Desenfoque */
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-align: justify;
    line-height: 18px;
    padding: 1em;
  }

 
  img {
    max-width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
}

.image {
    flex-basis: 30%;
    flex-shrink: 0;
  }


.back, li, .btn, .colorify {
    font-family: 'Courier New', monospace;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    color: rgb(186, 255, 10);
    background-color: #000000;  
    padding: 0%;
}


