/* Ajuste de la imagen de fondo y el posicionamiento */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
    
}

body {
  background-image: url("/img/berenicellorens3.jpg");
  background-repeat: no-repeat;
  background-position:top;
  background-size: contain;
  background-color: black;
  line-height: 1.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  max-width: 50em;
  margin: auto auto auto;
  max-width: 60em;
  margin: auto;
  text-align: right; /* Cambiado a 'right' */
}

.mispalabras {
    font-family: 'Courier New', monospace;
    font-weight: regular;
    font-size: 0.9em;
    line-height: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.1em;
    margin: 1em;
    padding: 1em; 
    text-align: right;
    text-align: justify;
    color: aliceblue;
   

  }

div {
    display:content;
    unicode-bidi:isolate;
    margin: 0.5em;
    padding: 0.5em;
  
}

article {
    line-height: 14px;
    max-width: 70em;
    padding: 1em;
    text-align: right; /* Cambiado a 'right' */
    font-family: 'Lucida sans', 'Lucida Sans Regular', sans-serif;

    
}

section article {
  line-height: 12px;
  background-color: #070000;
  text-align: right; /* Cambiado a 'right' */
}

h1 {
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    margin top: 1em;
    color: rgb(255, 255, 255);
    text-align: right; /* Cambiado a 'right' */
}

h2 {
    text-align: right; /* Cambiado a 'right' */
    margin-bottom: 0;
    color: rgb(255, 254, 254);
}

.text {
    font-family: 'Lucida sans', 'Lucida Sans Regular', sans-serif;
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    text-align: right; /* Cambiado a 'right' */
    text-align: justify;
    margin: 1em;
    max-width: 50em;
    font-size: 0.9em;
    line-height: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.1em;
    margin: 1em;
    padding: 20px; 
}

img {
    max-width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    float: left; /* Cambiado a 'right' */
}

.image {
    flex-basis: 20%;
    flex-shrink: 0;
     size: smaller ;
  }
  
.colorify {
    color: rgb(230, 250, 0);
    background: rgb(0, 0, 0);
    font-weight: bold;
    text-align: right; /* Cambiado a 'right' */
    font-size: 1em;
   
}

a {
    color: blue;
    text-decoration: underline;
}

.sello {
    color: rgb(255, 255, 255);
    font-weight: bold;

}
