/* Ajuste de la imagen de fondo y el posicionamiento */
header {
    display: flex;
    flex-direction: column;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0;
}

body {
  background-image: url("/img/berenicellorens3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  line-height: 1.7em;
  display: flex;
  flex-direction: column;
  max-width: 60em;;
  margin: auto;
  text-align: right; /* Cambiado a 'right' */
}

.mispalabras {
    font-family: 'Courier New', monospace;
    font-weight: regular;
    font-size: 0.9em;
    line-height: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.1em;
    max-width: 50em;
    padding: 20px;
    text-align: right; /* Cambiado a 'right' */
    color: rgb(0, 0, 0);
}

div {
    display:content;
    unicode-bidi:isolate;
    margin: 1em;
  
}

article {
    line-height: 14px;
    max-width: 50em;
    padding: 3vmin;
    text-align: right; /* Cambiado a 'right' */
    font-family: 'Lucida sans', 'Lucida Sans Regular', sans-serif;
    padding: 2em;
    
}

section article {
  line-height: 12px;
  background-color: #070000;
  text-align: right; /* Cambiado a 'right' */
}

h1 {
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    color: rgb(0, 0, 0);
    text-align: right; /* Cambiado a 'right' */
}

h2 {
    text-align: right; /* Cambiado a 'right' */
    margin-bottom: 0;
    color: rgb(0, 0, 0);
}

.text {
    font-family: 'Lucida sans', 'Lucida Sans Regular', sans-serif;
    font-size: 0.8em;
    color: rgb(0, 0, 0);
    text-align: right; /* Cambiado a 'right' */
    text-align: justify;
    margin: 1em;
}

img {
    max-width: 60%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    float: right; /* Cambiado a 'right' */
}

.image {
    flex-basis: 20%;
    flex-shrink: 0;
     size: smaller ;
  }
  
.colorify {
    color: rgb(230, 250, 0);
    background: rgb(0, 0, 0);
    font-weight: bold;
    text-align: right; /* Cambiado a 'right' */
    padding:1vmin 1vmin;
    font-size: 1em;
    margin: 1vmin;
}

a {
    color: blue;
    text-decoration: underline;
}
