/*  Adjust background image and positioning */

body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:lightgrey;
  background-image: url("/img/MarmotasDreams\ byUll.jpg");
  background-blend-mode: multiply;
  background-repeat: repeat-x;
  background-size: 50%;
}

/* Adjust title coloring */

