body {
  background: black;
}
 
h1 {
  background-color: rgba(244, 254, 146, 1);
  padding:2vmin;
}

h3 {
  background: #aa2788;
  padding:2vmin;
}

.back, .btn {
  border:1px solid white;
}

footer img {
  filter: invert(100%);
}

.subtitle {
  color: white;
}
