body {
  background: black;
}
 
h1 {
  padding:2vmin;
}

h2 {
  color:  #FF9800;
  padding: 2em;
}


h3 {
  color: #FF9800;
  padding:2vmin;
}

.back, .btn {
  border:1px solid white;
}

footer img {
  filter: invert(100%);
}

.subtitle {
  color: white;
}
