body {
    /*background-image:url("/img/marmotas.jpg");*/
    background-image: none;
    /*background-attachment:fixed;*/
    /*background-position:left top;*/
    /*background-repeat:repeat-y;*/
    background-size: 400px;

}

h1,
h3,
footer {
    color: black;
    /*background-color: rgb(10 255 108 / 100%);*/
    background: none;
}

h2 {
    background-color: none;
    /*background-color: rgb(216 114 220);*/
}