/*  Adjust background image and positioning */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;
    margin-left: 2em;
    margin-right: 2em;
}
body {
    
background-color: black;
line-height: 1.7em;
display: flex;
flex-direction: column;
align-items: center;
justify-content: right;
max-width: 150vmin;
margin: auto auto auto;
text-align: justify, left;

}

section article {
  line-height:18px;
  background-color: #070000;
  width:fit-content;
  box-sizing:border-box;
  margin: 8px 0;
  max-width: 190vmin;
  min-width: 70vmin;
  margin-right: 1em;
  margin-left: 1em;
  justify-content: left;
  
}

h1 {
 font-size: 18px ;
 font-weight: bold;
 width:fit-content; 
 color: aliceblue;
 justify-content: left;
}


h2 {
    
 text-align: right;
  margin-bottom: 0;
  color: aliceblue;
}



img {
  max-width: 30%;
  size: smaller;
}



.text {
  font-family: 'Lucida sans', 'Lucida Sans Regular' , sans-serif;
  font-size: 13px;
  color: aliceblue;
  text-align: justify;
}

a {
  color:blue;
  text-decoration: underline;
}

.colorify {
    color: rgb(0, 0, 0);
    background: rgb(251, 255, 0);
    font-weight: bold;
    text-align: center;
    padding: 0.3vmin 0.4vmin;
    font-size: 1em;
    margin: 0;
  }

  .mispalabras {
    font-family: 'Courier New', monospace;
    font-weight: regular;
    font-size: 0.9em;
    line-height: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 0.1em;
    margin: 1em;
    padding: 20px; 
    text-align: justify;
    color: aliceblue;
   

   }


