/*  Adjust background image and positioning */

section article {
  line-height:18px;
  background-color: #FFF;
  width:fit-content;
  margin: 10px 0;
  max-width: 120vmin;
  min-width: 50vmin;
}

h1 {
 font-size: 18px ;
 width:fit-content;
 margin:auto;   
}

h2 {
  margin-bottom: 0;
}

img {
  max-width: 80%
}

.image {
  flex-basis: 40%;
  flex-shrink: 0;
}

.text {
  font-family: 'helvetica';
  font-size: 14px;
}

a {
  color:blue;
  text-decoration: underline;
}

.colorify {
    color: rgb(0, 0, 0);
    background: rgb(251, 255, 0);
    font-weight: bold;
    text-align: center;
    padding: 0.3vmin 0.4vmin;
    font-size: 1em;
    margin: 0;
  }

  .mispalabras {
    font-family: 'Courier New', monospace;
    font-weight: regular;
    font-size: 1em;
    line-height: 1em;
    margin: 30px 0;
    padding: 9px; 
     text-align: center;
  margin-right: 4em;
  margin-left: 4em;
   margin-top: 0.1em;
   

   }
