body {
  background: black;
}

h2 {
  color:  #FF9800;
}

h3 {
  color: #FF9800;
}

footer img {
  filter: invert(100%);
}

.back, .btn {
  border:1px solid white;
}

.subtitle {
  color: rgb(10 255 108 / 100%);
}