body {
  background: rgb(0, 0, 0);
  line-height: 1.7em;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  justify-content: right;
  margin: auto;
  text-align: justify; /* Cambiado a 'right' */
}

h2 {
  color: #ff9800;
  margin-top: 5em;
}

h3 {
  color: #ff9800;
}

footer img {
  filter: invert(100%);
}

.back,
.btn {
  border: 1px solid white;
}

.subtitle {
  color: rgb(10 255 108 / 100%);
}

#flex_container {
  margin: 2em;
  justify-content: center;
  padding-inline: 60px;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}
