body {
  background: rgb(0, 0, 0);

}

h1 {
  color: rgba(244, 254, 146, 1);
}

h3 {
  color: #FF9800;
}

footer img {
  filter: invert(100%);
}

.back, .btn {
  border:1px solid white;
}

.subtitle {
  color: rgb(10 255 108 / 100%);
}
.mispalabras {
    font-family: 'Courier New', monospace;
    font-weight: regular;
    color: azure;
    font-size: 1em;
    line-height: 1em;
    margin: 30px 0;
    padding: 9px; 
     text-align: center;
  margin-right: 4em;
  margin-left: 4em;
   margin-top: 0.1em;
   

   }
